@import "../../../CommonStyles/variables.scss";

.primary {
    background-color: $primary-btn;
    color: #fff;

    &--disabled {
        background-color: $primary-btn;
        opacity: .5;
    }
}

.primary-light {
    background-color: $light-blue-bg;
    color: $zen-primary-color;
    font-weight: 500;

    &--disabled {
        background-color: $light-blue-bg;
        pointer-events: none;
    }
}

.warning-btn {
    background-color: $btn-red;
    color: #fff;
    font-weight: 600;

    &--disabled {
        background-color: $gray-text;
        pointer-events: none;
    }
}

.groups-post-btn {
    border: none;
    border-radius: 20px;
    font-size: 0.9rem;
    padding: 0.3rem 1.2rem;
    min-height: 33px;

    // width: 100%;
    &--large {
       width: 100%;
        min-height: 40px;
    }

    &--medium {
        max-width: 125px
    }

    &--small {
        max-width: 80px;
    }

    &:hover {
        opacity: .9;
    }

    &:focus {
        outline: none;
    }
}

.groups-post-btn:disabled {
    opacity: .5;

    &:hover {
        opacity: .5;
    }
}