$primary-btn: #5354FA;
$gray-text: #858EA2;
$gray-border: #E2E5ED;
$gray-light-bg: #F3F3F7; 

$light-blue-bg: #F3F3F7; 
$white-bg: #fff; 
$zen-primary-color: #1d3a57;    
$zen-light-color:#EEF0F9;
$btn-red: #FA3864;
$success: #4cba6f;
$error: #FA3864;