@import "../shared/variables.scss";
@media screen and (max-width: 1035px) {
  .layout-left-content {
    display: none;
  }
}
.layout-wrapper {
  display: flex;
  .layout-header {
    height: 60px;
    background-color: $zen-primary-color;
    width: 100%;
    position: absolute;
    img {
      padding: 0.5rem;
      margin-left: 1.5rem;
    }
  }
  .layout-left-content {
    width: 300px;
    background-color: $light-blue-bg;
  }

  .layout-main-content {
    background-color: $white-bg;
  }
}
